*{
    margin: 0;
    padding: 0;
}
/* .header-component{
    position: fixed;
} */
.navbar{
    background-color: #1d1d1d;
    clear: both;
    padding: 0.6rem 1rem 0.6rem 1rem;
}
.navbar img{
    margin-left: 60px;
}
.navbar p{
    display: inline-block;
    font-size: 1.2em;
    margin-left: 2%;
    color: #919191;
}
.menu{
    display: flex;
    float: right;
    padding: 1rem 1rem 1rem 1rem;
    clear: both;
}
.menu  li{
    margin-right: 1rem;
    list-style: none;
}
.search-span{
    width: 250px;
    height: 35px;
    border: 2px solid #333;
    border-radius: 12px 12px 12px 12px;
    padding: 6px 30px;
    
}
.search-span input{
    font-size: 0.9em;
    font-weight: bold;
    font-family: open sans, sans-serif;
    color: #919191;
}
.fa-search{
    color:#919191
}

.menu li input{
    background-color: #1d1d1d;
    outline: none;
    border: none;
}

.menu li a{
    color: #919191;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
}
.login, .reg{
    color: #fff !important;
}
.slash{
    color: #808080;
    margin-right: 10px;
}