 .modal{
    width: 45vw;
    height: auto;
    min-height: 30vh;
    background: #fff;
    margin: auto;
    border:none;
    align-items: center;
    border-radius: 10px;
}  
.modal input{
    margin: 1rem;
    width:90%;
    padding: 0 20px 0 10px;
    border: 1px solid #d2d8d8 ;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    height: 50px;
    margin-bottom: 2em;
}